.selectButton{
    position : relative;
    bottom: 0;
    height: 90%;
    width:5%;
    left: 1%;
    
    font-size: 20px;
    border-radius:0.3em;
    border:1px solid gray;
}
 .selectButton_mentee{
    position : relative;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    float:left;
    left: 1%;
    font-size: 80%;
    border-radius:0.3em;
    border:1px solid gray;
    color:white;
    font-weight : bold;
    background-color: #337ab7;

}
.selectButton_mentor{
    position : relative;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    float:left;
    left: 2%;
    font-size: 80%;
    border-radius:0.3em;
    border:1px solid gray;
    color:white;
    font-weight : bold;
    background-color: #d9534f;

}

.selectButton2{
    position: relative;
    width:10%;
    height:100%;
    font-size: 20px;
    float: right;
    border-radius:0.3em;
    border:1px solid gray;
    color:white;
    background-color: #5cb85c;
   
}
.selectButton3{

    position : relative;
    height:100%;
    float:right;

    font-size: 60%;
    border-radius:0.3em;
    border:1px solid gray;
    color:black;
    font-weight : bold;

}
.selectButton4{
    position : relative;
    height: 100%;
    float:right;
    right: 1%;

    font-size: 60%;
    border-radius:0.3em;
    border:1px solid gray;
    color:black;

    font-weight : bold;
}
.selectButton5{
    position : relative;
    height: 100%;
    float:right;
    right:2%;

    font-size: 60%;
    border-radius:0.3em;
    border:1px solid gray;
    color:black;

    font-weight : bold;
}

.myInlineDecoration {
    background: blue;  
    cursor: pointer;
    display: inline-block;
    }
    .myLineDecoration {
    background: lightgreen;
    display: inline-block;
    }
    
    
      .myLineDecorationBlack {
        background:  green; 
        display: inline-block;
        }
        
        .title1{
            position: relative;
            border: 0px solid skyblue;
            border-top-width: 1px;
            border-right-width: 0px;
            border-left-width: 0px;
            font-size: 1.5em;
            font-family: "나눔고딕";
            height:5vh;
            color:black;
            width: 90.9%;
            background-color: black;
            font-weight : bold;
            overflow-y: "scroll";
            float : left;
            z-index: 100;
        }
        .mentorEditor{
            position: relative;


            font-size: 1.5em;
            font-family: "나눔고딕";
            height:5vh;
            color:black;
            width: 90%;
            height: 48.8vh;
            background-color:black;
            font-weight : bold;
            overflow-y: "scroll";
            float : left;
        }
        .layout{
            height:100%;
        }