.selectButton{
    width:5vw;
    height:5vh;
    font-size: 20px;
    
}
 .selectButton_mentee{
    width:5vw;
    height:5.2vh;
    font-size: 20px;
   border-top: 1;
   border-left: 1;
   border-right:1;
    border-bottom: 0px solid;
}
.selectButton_mentor{
    width:5vw;
    height:5.2vh;
    font-size: 20px;
   border-top: 1;
   border-left: 1;
   border-right:1;
    border-bottom: 2px solid; 
}

.selectButton2{
    width:5vw;
    height:5vh;
    font-size: 20px;
    float: right;
}
.selectButton3{
    float: right;
    height: 5.1vh;

}

.myInlineDecoration {
    background: blue;  
    cursor: pointer;
    display: inline-block;
    }
    .myLineDecoration {
    background: lightgreen;
    display: inline-block;
    }
    
    
      .myLineDecorationBlack {
        background:  rgb(56, 182, 25); 
        display: inline-block;
        }
        